<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tags</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css">
</head>
<body>
<!-- navigation   -->
<nav class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">

            <h2 class="ui teal header">
                Blog
            </h2>
            <a href="#" class="m-item item m-mobile-hide"><i class="mini home icon"></i>Home</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="mini idea icon"></i>Category</a>
            <a href="#" class="active m-item item m-mobile-hide"><i class="mini tags icon"></i>Tags</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="mini clone icon"></i>Collect</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="mini info icon"></i>About</a>
            <div class="right item">
                <div class="ui icon inverted transparent input">
                    <input type="text" placeholder="Search...">
                    <i class="search link icon"></i>
                </div>
            </div>

        </div>
    </div>

    <a href="#" class="ui menu toggle black icon button m-top-right m-mobile-show">
        <i class="sidebar icon"></i>
    </a>


</nav>

<!--    content-->
<div class="m-container m-container-small m-padded-tb-big">
    <div class="ui container">
        <div class="ui top attached segment">
            <div class="ui two column grid">
                <div class="column">
                    <h3 class="ui teal header">Tags</h3>
                </div>
                <div class="right aligned column">
                    Total <h2 class="ui orange header m-inline-block m-text-thin">14</h2> articles
                </div>
            </div>


        </div>
        <!--        Tag List-->
        <div class="ui attached segment m-padded-tb-large">
            <a href="#" target="_blank" class="ui teal basic left pointing large label m-margin-tb-tiny">Methodology <div class="detail">3</div></a>
            <a href="#" target="_blank" class="ui  basic left pointing large label m-margin-tb-tiny">Methodology <div class="detail">3</div></a>
            <a href="#" target="_blank" class="ui  basic left pointing large label m-margin-tb-tiny">Methodology <div class="detail">3</div></a>
            <a href="#" target="_blank" class="ui  basic left pointing large label m-margin-tb-tiny">Methodology <div class="detail">3</div></a>
            <a href="#" target="_blank" class="ui  basic left pointing large label m-margin-tb-tiny">Methodology <div class="detail">3</div></a>
            <a href="#" target="_blank" class="ui  basic left pointing large label m-margin-tb-tiny">Methodology <div class="detail">3</div></a>



        </div>
        <div class="ui top attached teal segment">

            <div class="ui padded vertical segment m-padded-tb-large m-mobile-lr-clear">
                <div class="ui mobile reversed stackable grid">
                    <div class="ui eleven wide column">
                        <h3 class="ui header">What is JavaScript?</h3>
                        <p class="m-text">
                            JavaScript (JS) is a lightweight, interpreted, or just-in-time compiled programming language with first-class functions.
                            While it is most well-known as the scripting language for Web pages, many non-browser environments also use it, such as Node.js, Apache CouchDB and Adobe Acrobat.
                        </p>

                        <div class="ui stackable grid">
                            <div class="row">
                                <div class="eleven wide column">
                                    <div class="ui horizontal link list mini">
                                        <div class="item">
                                            <img src="https://picsum.photos/id/1005/100/100" alt="" class="ui avatar image">
                                            <div class="content">
                                                <a href="#" class="header">
                                                    Liu
                                                </a>
                                            </div>
                                        </div>

                                        <div class="item">
                                            <i class="calendar icon"></i> 2019.04.01
                                        </div>
                                        <div class="item">
                                            <i class="eye icon"></i>399
                                        </div>

                                    </div>

                                </div>
                                <div class="five right aligned  wide column">
                                    <a href="#" target="_blank" class="ui teal basic label m-padded-mini">Promote</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="column">
                                    <a href="#" class="ui basic teal left pointing label m-padded-tb-mini m-text-thin">Methodology</a>
                                </div>


                            </div>

                        </div>

                    </div>


                    <div class="ui five wide column">
                        <a href="#" target="_blank_">
                            <img src="https://picsum.photos/id/1005/800/450" alt="" class="ui rounded image">
                        </a>

                    </div>
                </div>
            </div>
            <div class="ui padded vertical segment m-padded-tb-large m-mobile-lr-clear">
                <div class="ui mobile reversed stackable grid">
                    <div class="ui eleven wide column">
                        <h3 class="ui header">What is JavaScript?</h3>
                        <p class="m-text">
                            JavaScript (JS) is a lightweight, interpreted, or just-in-time compiled programming language with first-class functions.
                            While it is most well-known as the scripting language for Web pages, many non-browser environments also use it, such as Node.js, Apache CouchDB and Adobe Acrobat.
                        </p>

                        <div class="ui stackable grid">
                            <div class="row">
                                <div class="eleven wide column">
                                    <div class="ui horizontal link list mini">
                                        <div class="item">
                                            <img src="https://picsum.photos/id/1005/100/100" alt="" class="ui avatar image">
                                            <div class="content">
                                                <a href="#" class="header">
                                                    Liu
                                                </a>
                                            </div>
                                        </div>

                                        <div class="item">
                                            <i class="calendar icon"></i> 2019.04.01
                                        </div>
                                        <div class="item">
                                            <i class="eye icon"></i>399
                                        </div>

                                    </div>

                                </div>
                                <div class="five right aligned  wide column">
                                    <a href="#" target="_blank" class="ui teal basic label m-padded-mini">Promote</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="column">
                                    <a href="#" class="ui basic teal left pointing label m-padded-tb-mini m-text-thin">Methodology</a>
                                </div>


                            </div>

                        </div>

                    </div>


                    <div class="ui five wide column">
                        <a href="#" target="_blank_">
                            <img src="https://picsum.photos/id/1005/800/450" alt="" class="ui rounded image">
                        </a>

                    </div>
                </div>
            </div>
            <div class="ui padded vertical segment m-padded-tb-large m-mobile-lr-clear">
                <div class="ui mobile reversed stackable grid">
                    <div class="ui eleven wide column">
                        <h3 class="ui header">What is JavaScript?</h3>
                        <p class="m-text">
                            JavaScript (JS) is a lightweight, interpreted, or just-in-time compiled programming language with first-class functions.
                            While it is most well-known as the scripting language for Web pages, many non-browser environments also use it, such as Node.js, Apache CouchDB and Adobe Acrobat.
                        </p>

                        <div class="ui stackable grid">
                            <div class="row">
                                <div class="eleven wide column">
                                    <div class="ui horizontal link list mini">
                                        <div class="item">
                                            <img src="https://picsum.photos/id/1005/100/100" alt="" class="ui avatar image">
                                            <div class="content">
                                                <a href="#" class="header">
                                                    Liu
                                                </a>
                                            </div>
                                        </div>

                                        <div class="item">
                                            <i class="calendar icon"></i> 2019.04.01
                                        </div>
                                        <div class="item">
                                            <i class="eye icon"></i>399
                                        </div>

                                    </div>

                                </div>
                                <div class="five right aligned  wide column">
                                    <a href="#" target="_blank" class="ui teal basic label m-padded-mini">Promote</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="column">
                                    <a href="#" class="ui basic teal left pointing label m-padded-tb-mini m-text-thin">Methodology</a>
                                </div>


                            </div>

                        </div>

                    </div>


                    <div class="ui five wide column">
                        <a href="#" target="_blank_">
                            <img src="https://picsum.photos/id/1005/800/450" alt="" class="ui rounded image">
                        </a>

                    </div>
                </div>
            </div>
            <div class="ui padded vertical segment m-padded-tb-large m-mobile-lr-clear">
                <div class="ui mobile reversed stackable grid">
                    <div class="ui eleven wide column">
                        <h3 class="ui header">What is JavaScript?</h3>
                        <p class="m-text">
                            JavaScript (JS) is a lightweight, interpreted, or just-in-time compiled programming language with first-class functions.
                            While it is most well-known as the scripting language for Web pages, many non-browser environments also use it, such as Node.js, Apache CouchDB and Adobe Acrobat.
                        </p>

                        <div class="ui stackable grid">
                            <div class="row">
                                <div class="eleven wide column">
                                    <div class="ui horizontal link list mini">
                                        <div class="item">
                                            <img src="https://picsum.photos/id/1005/100/100" alt="" class="ui avatar image">
                                            <div class="content">
                                                <a href="#" class="header">
                                                    Liu
                                                </a>
                                            </div>
                                        </div>

                                        <div class="item">
                                            <i class="calendar icon"></i> 2019.04.01
                                        </div>
                                        <div class="item">
                                            <i class="eye icon"></i>399
                                        </div>

                                    </div>

                                </div>
                                <div class="five right aligned  wide column">
                                    <a href="#" target="_blank" class="ui teal basic label m-padded-mini">Promote</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="column">
                                    <a href="#" class="ui basic teal left pointing label m-padded-tb-mini m-text-thin">Methodology</a>
                                </div>


                            </div>

                        </div>

                    </div>


                    <div class="ui five wide column">
                        <a href="#" target="_blank_">
                            <img src="https://picsum.photos/id/1005/800/450" alt="" class="ui rounded image">
                        </a>

                    </div>
                </div>
            </div>

        </div>
        <!-- bottom-->

        <div class="ui bottom attached segment">
            <div class="ui middle aligned two column grid">
                <div class="column">
                    <a href="#" class="ui min teal basic button">Previous Page</a>
                </div>
                <div class="right aligned column">
                    <a href="#" class="ui min teal basic button">Next Page</a>
                </div>
            </div>

        </div>

    </div>


</div>



<!--    footer-->

<footer class="ui inverted vertical segment m-padded-tb-massive">
    <div class="ui center aligned container">
        <div class="ui inverted divided stackable grid">
            <div class="three wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <img src="../static/images/wechat.jpeg" class="ui rounded image" alt="" style="width: 100px;">
                    </div>
                </div>
            </div>



            <div class="three wide column">
                <h4 class="ui inverted header">News</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">User Story1</a>
                    <a href="#" class="item">User Story2</a>
                    <a href="#" class="item">User Story3</a>

                </div>
            </div>
            <div class="three wide column">
                <h5 class="ui inverted header">Contact</h5>
                <div class="ui inverted link list">
                    <a href="#" class="item">Phone:</a>
                    <a href="#" class="item">E-mail</a>
                    <a href="#" class="item">Addr.</a>

                </div>
            </div>

            <div class="seven wide column">


                <h4 class="ui inverted header">About</h4>

                <p class="m-text-thin m-text-spaced m-opcity-mini">This is my website.</p>


            </div>
        </div>


    </div>
    <div class="ui inverted section divider"></div>
    <p class="m-text-thin m-text-spaced m-opacity-tiny" align="center">Copyright ©️2019 Designed by Luguang Liu</p>
    </div>



</footer>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });


</script>

</body>
</html>